body {
  min-height: 2000px;
}
.jumbotron {
  padding-top: 6rem;
  background-color: aquamarine;
}
#medsos{
  padding-top: 6rem;
  padding-bottom: 18rem;
  background-color: #00ffff;
}

#projects {
  background-color: #7fffd4;
}
section {
  padding-top: 5rem;
}
